<div class="container my-5">
    <h1 class="text-center mb-4">Catálogo de Productos</h1>
    <div class="row">
        {{#each productos}}
            <div class="col-md-4 mb-4">
                <div class="card text-center bg-black text-white">
                    <img src="{{this.imagen}}" class="card-img-top" alt="{{this.nombre}}" style="height: 300px; object-fit: fill;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.nombre}}</h5>
                        <p class="card-text">{{this.descripcion}}</p>
                        <p class="fw-bold">$ {{this.precio}}</p>
                        <button class="btn btn-primary">Añadir a Favoritos</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

