<div class="container my-5">
    <h1 class="text-center mb-4">Cat치logo de Productos</h1>
    <div class="row">
        {{#each productos}}
            <div class="col-md-4 mb-4">
                <div class="card text-center bg-black text-white">
                    <img src="{{this.imagen}}" class="card-img-top" alt="{{this.nombre}}" style="height: 300px; object-fit: fill;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.nombre}}</h5>
                        <p class="card-text">{{this.descripcion}}</p>
                        <p class="fw-bold">{{this.precio}}</p>
                        <button class="btn btn-primary add-to-favorites"
                                data-modelo="{{this.nombre}}"
                                data-caracteristicas="{{this.descripcion}}"
                                data-precio="{{this.precio}}">
                            A침adir a Favoritos
                        </button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const buttons = document.querySelectorAll('.add-to-favorites');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                const modelo = button.getAttribute('data-modelo');
                const caracteristicas = button.getAttribute('data-caracteristicas');
                const precio = button.getAttribute('data-precio');

                // Enviar los datos al servidor
                
                fetch('/favoritos', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ modelo, caracteristicas, precio })

                })
                        .then(response => {
                            if (response.ok) {
                                alert('Producto a침adido a favoritos');
                            } else {
                                alert('Hubo un error al a침adir el producto');
                            }
                        })
                        .catch(error => console.error('Error:', error));
            });
        });
    });
</script>
